<html>
<head>
    <link href="~/css/Login.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</head>
<body>
   <p>LeaderBoard</p>
</body>
</html>
<script>
    
</script>
<style>
   
</style>